HTTP_PORT=8088
HTTPS_PORT=8443
MAILPIT_PORT=8025
PHPMYADMIN_PORT=8081

# MySQL
MYSQL_DATABASE=toolapp
MYSQL_USER=toolapp
MYSQL_PASSWORD=__GENERATE__
MYSQL_MIGRATOR_USER=toolapp_migrator
MYSQL_MIGRATOR_PASSWORD=__GENERATE__
MYSQL_ROOT_PASSWORD=__GENERATE__

# Redis
REDIS_PASSWORD=__GENERATE__

# Auth
JWT_SECRET=__GENERATE__

# Admin user created by the seed (only if it does not exist yet)
ADMIN_EMAIL=admin@example.com
ADMIN_PASSWORD=__GENERATE__

NGINX_HSTS=
